{
    "presets": ["@babel/preset-env"],
    "plugins": ["transform-vue-jsx", "dynamic-import-node"],
    "env": {
        "development": {
            "plugins": ["dynamic-import-node"]
        }
    }
}
