container_commands:
   storge_cache:
      command: "sudo chmod -R 777 /var/www/html/storage"

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/02_configure_environment_file.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
        #!/bin/bash
        cp /var/www/html/.env.example /var/www/html/.env
        php /var/www/html/artisan key:generate