commands:
  01updateComposer:
    command: /usr/bin/composer.phar self-update
  02laravel:
    command: sudo chmod -R 777 storage
  03laravel:
    command: sudo cp .env.example .env
  04laravel:
    command: sudo php artisan key:generate
  05laravel:
    command: php artisan migrate
  06laravel:
    command: php artisan db:seed